/*html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}*/
/* To prevent long-press that will bring up copy-paste dialog. */
/** {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
/*} */
/*textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}*/
/*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

.r {
  border-right: 4pt solid black;
}
.b {
  border-bottom: 4pt solid black;
}

.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
*, *::before, *::after {
	box-sizing: inherit;
}*/

html {
	font-size: 20px;
	box-sizing: border-box;
}

body {
	text-align: center;
	color: #555;
	/*background: radial-gradient(circle, #fff 15%, #ccc);*/
  /*background: #ffffff url(../images/bg.png) repeat-x right top;*/
  background-image: url(../images/bg.jpg);
  background-repeat: repeat-x;
	background-size: cover;
	font-size: 1rem;
	font-family: Roboto Slab, sans-serif;
	margin-top: 1em;
}

h1 {
	font-family: Fontdiner Swanky, sans-serif;
	font-size: 2rem;
	letter-spacing: 4px;
	margin: 0;
}

.board {
	margin: 50px auto;
	display: flex;
	flex-flow: row;
	/*border: 10px solid #bbb;*/
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.9);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.9); 
	box-shadow: 0 0 5px rgba(0,0,0,.9);
	width: 1400px;
	height: 335px;
	max-width: 100%;
	resize: both;
	overflow: hidden;
	background: url(../images/yellow1.png);
	border-radius: 20px;

	&, p {
		transform: rotate(0deg);
		transition: transform 3s ease 0s;
	}

	[data-player="two"] &,
	[data-player="two"] & p {
		transform: rotate(180deg);
	}
}

.rows {
	flex: 7;
	display: flex;
	flex-direction: column;
}

.store {
	flex: 1;
	border-radius: 40px;
}

#candy1ID {
 width:30px;height:30px;
 }
 
.row {
	flex: 1;
	display: flex;

	&.player-two {
		flex-direction: row-reverse;
	}
}

.parent{
	flex:1;	
	margin:20px;
	/*padding:20px;*/
	display: block;
  position: relative;
	background-color: rgba(0,0,0,.2);
	border-radius: 40%;
	 -webkit-box-shadow: 2px 2px 1px #888;
  -moz-box-shadow: 2px 2px 1px #888; 
	box-shadow: 2px 2px 1px #888;
	cursor: default;
		
}
.store {
	margin: 20px;
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	/*background-color: rgba(0,0,0,.2);*/
	cursor: default;
	/* -webkit-box-shadow: 2px 2px 1px #888;
  -moz-box-shadow: 2px 2px 1px #888; 
	box-shadow: 2px 2px 1px #888;*/
	width: 100px;
	height: 150px;
	max-width: 100%;
	max-height: 100%;
	position: relative;


	p {
		cursor: inherit;
	}

	p::selection {
		background: transparent;
	}
}

.pit {

	margin: 10px;
	display: flex;
	position: relative;
	flex:1;
	justify-content: center;
	align-items: center;
/*	background-color: rgba(0,0,0,.2);
	*/cursor: default;
/*	-webkit-box-shadow: 2px 2px 1px #888;
  -moz-box-shadow: 2px 2px 1px #888; 
	box-shadow: 2px 2px 1px #888;
	*/border-radius: 40%;
	width: 100px;
	max-width: 100%;
	
}

.score{
margin: 10px;
	padding:0px;
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	/*background-color: rgba(0,0,0,.2);
	*/border-radius: 40%;
	cursor: default;
/*	 -webkit-box-shadow: 2px 2px 1px #888;
  -moz-box-shadow: 2px 2px 1px #888; 
	box-shadow: 2px 2px 1px #888;

/*	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:white;
	box-shadow: inset 0 0 2px rgba(0,0,0,.1);
	cursor: default;*/
}

[data-player="two"] .row.player-two .pit,
[data-player="one"] .row.player-one .pit {
	cursor: pointer;
}

[data-player="two"] .status,
.store.player-two, .player-two .pit {
	color: green;
}

[data-player="one"] .status,
.store.player-one, .player-one .pit {
	color: purple;
}
.candy_blue {
  /*display: inline-block;*/
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}
.candy_red {
  /*display: inline-block;*/
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #fed5d7, #fb898d 10%, #e0080f 80%, #480205 100%);
}
.candy_green {
  /*display: inline-block;*/
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #c8F526, #bce937 10%, #a2c93a 80%, #a2c257 100%);
}
.candy_orange {
  /*display: inline-block;*/
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #f87531, #ff6103 10%, #ffa824 80%, #ffc469 100%);
}

/*
button {
	cursor: pointer;
	padding: 7px 13px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #555;
	background: #f7f7f7;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );

	&:hover {
		background: #fafafa;
		color: #23282d;
	}*/
}
