/*html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}*/
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*
.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
*, *::before, *::after {
	box-sizing: inherit;
}*/

html {
  /*background:  url(https://media.giphy.com/media/26uf7VYVUt6cBelCo/giphy.gif) no-repeat center center fixed; */
  background: url(../imgs/bg102.jpg) no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100%;
  min-height:100%;

}
html {
	font-size: 20px;
	box-sizing: border-box;
}

body {
	font-family: 'Love Ya Like A Sister', cursive;
	color: #480205;
	/*margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed!important;*/

	text-align: center;
/*	color: #555;*/

   /*background-repeat:repeat-x;*/


	/*background-position: 50% 50%;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;*/
	font-size: 2.0vw;
	margin-top: 1em;
}

h1 {
		font-size: 2rem;
	letter-spacing: 4px;
	margin: 0;
}

p{

	font-size: 2.8vw;
	line-height: 20px;
	color: brown;
/*font-family: 'Indie Flower', cursive;
/*font-family: 'Gloria Hallelujah', cursive;
/*font-family: 'Pacifico', cursive;
/*font-family: 'Amatic SC', cursive;
/*font-family: 'Dancing Script', cursive;
/*font-family: 'Shadows Into Light', cursive;
/*font-family: 'Architects Daughter', cursive;
/*font-family: 'Satisfy', cursive;
/*font-family: 'Covered By Your Grace', cursive;
/*font-family: 'Grand Hotel', cursive;
/*font-family: 'Schoolbell', cursive;*/

/*font-family: 'Grand Hotel', cursive;
font-family: 'Satisfy', cursive;*/
/*font-family: 'Pacifico', cursive;
font-family: 'Indie Flower', cursive;*/
 font-family: 'Love Ya Like A Sister', cursive;
}

.displayLeft {
  height: 50%;
  width: 100%;
  margin-top: 18%;
  font-family: 'Lobster', cursive;
  font-size: 500%;
  position: absolute;
  z-index: 500;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-content: left;
  padding: 5px;
  opacity:0;
  animation: shimmy 2s;
}

@keyframes shimmy {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
   opacity:1;
   transform: translate(35%, 0);
  }
}

.displayRight {
  height: 50%;
  width: 100%;
  margin-top: 28%;
  font-family: 'Lobster', cursive;
  font-size: 500%;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-content: right;
  padding: 5px;
  position: absolute;
  z-index: 500;
  opacity:0;
  animation: shimmyRight 2s;
}

@keyframes shimmyRight {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
   opacity:1;
   transform: translate(-35%, 0);
  }
}

.board {
	margin-top: 50px;
	display: flex;
	flex: 1;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	height: 75%;
	overflow: hidden;
	background: url(../imgs/board102.jpg);
	border-radius: 20px;
	box-shadow: inset 0 0 8px #000000;
}

.rows {
	flex: 7;
	display: flex;
	flex-direction: column;
	/*margin-bottom: 5px;*/


}

.store {
	flex: 1;
	border-radius: 40px;
}

/*#candyPit{
	/*This needs to be constant as candy component can have different parent
 width:80%;height:80%;
 }
#candyStore{
	width:40%;height:20%;
}*/
.candyPit{
	/*This needs to be constant as candy component can have different parent */
	/*display: flex;*/
 width:100%;height:100%;

 }
 .candyStore{
 	width:100%;height:100%;
 }
 .imgClassPit{
  width : 30%;
  height : 40%;
  min-width: 30%;
  min-height: 40%;
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  transition: all 2s ease-in-out;
 -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
 -moz-transition: all 2s ease-in-out; /** Firefox **/
 -o-transition: all 2s ease-in-out; /** Opera **/
}
 .imgClassStore{
	 width: 25%;
	 height: 15%;
 }

.row {
	flex: 1;
	display: flex;
	opacity: 0.75;
  margin-bottom: 10px;
}

@-webkit-keyframes wiggle
{
    0% {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    100% {-webkit-transform: rotateZ(2deg);}
}
@-moz-keyframes wiggle
{
    0% {-moz-transform: rotateZ(2deg);}
    50% {-moz-transform: rotateZ(-2deg);}
    100% {-moz-transform: rotateZ(2deg);}
}
@-o-keyframes wiggle
{
    0% {-o-transform: rotateZ(2deg);}
    50% {-o-transform: rotateZ(-2deg);}
    100% {-o-transform: rotateZ(2deg);}
}
@keyframes wiggle
{
    0% {transform: rotateZ(5deg);}
    50% {transform: rotateZ(-5deg);}
    100% {transform: rotateZ(5deg);}
}

.parent{

	flex:1;
	margin-top:10px;
	margin-left:5px;
	margin-bottom: 7px;
	margin-right:5px;
	/*padding:2px;*/
	display:flex;
	flex-direction: column;
	min-height: 80%;
  position: relative;
	background-color: rgba(0,0,0,.2);
	border-radius: 40%;
	 -webkit-box-shadow: inset 2px 2px 1px #888;
  -moz-box-shadow: inset 2px 2px 1px #888;
	box-shadow:inset 2px 2px 2px 0px  #888;
	cursor: default;

}

.parentStill{
	flex:1;
	margin-top:10px;
	margin-left:5px;
	margin-bottom: 7px;
	margin-right:5px;
	/*padding:2px;*/
	display:flex;
	flex-direction: column;
	min-height: 80%;
  position: relative;
	background-color: rgba(0,0,0,.2);
	border-radius: 40%;
	 -webkit-box-shadow:inset 2px 2px 1px #888;
  -moz-box-shadow: inset 2px 2px 1px #888;
	box-shadow: inset 2px 2px 1px #888;
	cursor: default;
	opacity: 1;
}

.parentWiggle{
	flex:1;
	margin-top:10px;
	margin-left:5px;
	margin-bottom: 7px;
	margin-right:5px;
	/*padding:2px;*/
	display:flex;
	flex-direction: column;
	opacity: 1;
	min-height: 80%;
    position: relative;

	background-color: rgba(0,0,0,.2);
	border-radius: 40%;

    -webkit-box-shadow: inset 0px 0px 15px 5px indigo;
    -moz-box-shadow: inset 0px 0px 15px 5px indigo;
    box-shadow:  inset 0px 0px 10px 1px #480205;
    cursor: default;

	/*-webkit-animation: wiggle 0.5s ease infinite;
    -moz-animation: wiggle 0.5s ease infinite;
    -o-animation: wiggle 0.5s ease infinite;
    animation: wiggle 0.5s ease infinite;*/

}

.store {
	margin: 0px;
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	/*background-color: rgba(0,0,0,.2);*/
	cursor: default;
	/* -webkit-box-shadow: 2px 2px 1px #888;
  -moz-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;*/
	width: 100%;
	height: auto;
	/*max-width: 100%;
	max-height: 80%;
	min-width: 100%;
	min-height: 80%;*/
	position: relative;
}

.pit {

	margin: 0px;
	display: flex;
	position: relative;
	flex:1;
	justify-content: center;
	align-items: center;
/*	background-color: rgba(0,0,0,.2);
	*/cursor: default;
/*	-webkit-box-shadow: 2px 2px 1px #888;
  -moz-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	*/border-radius: 40%;

	/*max-width: 100%;
	min-width: 100%;*/

}

.score{
	/*margin: 10px;
	padding:0px;*/
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
  font-weight: bold;
	/*background-color: rgba(0,0,0,.2);
	/*border-radius: 40%;*/
	cursor: default;
	/*width: 5%;
	height: 5%;*/
/*	 -webkit-box-shadow: 2px 2px 1px #888;
  -moz-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
/*	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:white;
	box-shadow: inset 0 0 2px rgba(0,0,0,.1);
	cursor: default;*/
}

/*[data-player="two"] .row.player-two .pit,
[data-player="one"] .row.player-one .pit {
	cursor: pointer;
}
[data-player="two"] .status,
.store.player-two, .player-two .pit {
	color: green;
}
[data-player="one"] .status,
.store.player-one, .player-one .pit {
	color: purple;
	font-size: 2vw;
}*/

.status{
justify-content: center;
align-items: center;
margin-top: 15px;
margin-bottom: 15px;
}
.candy_blue {
  /*display: inline-block;*/
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}
.candy_red {
  /*display: inline-block;*/
  width : 20%;
  height : 20%;
  /*min-width: 30%;
  min-height: 40%;*/
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #fed5d7, #fb898d 10%, #e0080f 80%, #480205 100%);
}
.candy_green {
  /*display: inline-block;*/
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #c8F526, #bce937 10%, #a2c93a 80%, #a2c257 100%);
}
.candy_orange {
  /*display: inline-block;*/
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #f87531, #ff6103 10%, #ffa824 80%, #ffc469 100%);
}

/*
button {
	cursor: pointer;
	padding: 7px 13px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #555;
	background: #f7f7f7;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	&:hover {
		background: #fafafa;
		color: #23282d;
	}*/
