<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Mancala</title>
  <meta name="description" content="TicTacToe game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>

  <div id="gameArea">
    <div ng-if="game.flipBoard()" class="board">

	<div class = "parent">
    				<div class ="score">
    				  	{{game.currentCount = game.giveCounts(1,6)}}
    				</div> 
    				<div class="player-one store">
              <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyStore: true}">
                  <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassStore: true}" ng-style="{{game.getPosition(x,1)}}" >
              </div>

    			</div>
    		</div>

  		
  		<div class="rows">

              <div class="row player-one">
          <div ng-repeat="pitIndex in [5,4,3,2,1,0]" ng-class="{parent: true}"
           ng-click="game.pitClicked(1,pitIndex)">
  					  <div ng-class ="{score: true}">
                {{game.currentCount = game.giveCounts(1,pitIndex)}}
  						</div>
  						<div ng-class="{pit: true}">
                <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyPit: true}">
  							    <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassPit: true}" ng-style="{{game.getPosition(x,0)}}">
                </div>
  		        </div>
          </div>
  			</div>

  		
        <p ng-if ="game.isEndState" ng-class="{status: true}">{{game.giveWinner()}} is winner</p>

        <p ng-if ="!game.isEndState" ng-class="{status: true}">{{game.currentUpdateUI.turnIndex}}'s turn</p>
        
       	<div class="row player-two">
          <div ng-repeat="pitIndex in [6,5,4,3,2,1]" ng-class="{parent: true}"
          ng-click=game.pitClicked(0,pitIndex)>
  					  <div ng-class ="{score: true}">
  							{{game.currentCount = game.giveCounts(0,pitIndex)}}
  						</div>
  						<div ng-class="{pit: true}">
                <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyPit: true}">
  							    <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassPit: true}" ng-style="{{game.getPosition(x,0)}}">
  						  </div>
  		        </div>
          </div>
  			</div>
      	
      </div>

<div class = "parent">
  				<div class ="score">
  				  {{game.currentCount = game.giveCounts(0,0)}}
  				</div>
  				<div class="player-two store">
            <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyStore: true}">
                <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassStore: true}" ng-style="{{game.getPosition(x,1)}}">
            </div>

  			</div>
  		</div>
    	
  	</div>

    <div  ng-if="!game.flipBoard()" class="board">
          
           <div class = "parent">
  				<div class ="score">
  				  	{{game.currentCount = game.giveCounts(0,0)}}
  				</div>
  				<div class="player-two store">
            <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyStore: true}">
                <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassStore: true}" ng-style="{{game.getPosition(x,1)}}">
            </div>

  			</div>
  		</div>

     	<div class="rows">
  			
               <div class="row player-two">
          <div ng-repeat="pitIndex in [1,2,3,4,5,6]" ng-class="{parent: true}" ng-click=game.pitClicked(0,pitIndex)>
            <div ng-class ="{score: true}">
              {{game.currentCount = game.giveCounts(0,pitIndex)}}
            </div>
            <div ng-class="{pit: true}">
              <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyPit: true}">
                <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassPit: true}" ng-style="{{game.getPosition(x,0)}}">
              </div>
            </div>
          </div>
        </div>  
       
        <p ng-if ="game.isEndState" ng-class="{status: true}">{{game.giveWinner()}} is winner</p>

        <p ng-if ="!game.isEndState" ng-class="{status: true}">{{game.currentUpdateUI.turnIndex}}'s turn</p>


<div class="row player-one">
          <div ng-repeat="pitIndex in [0,1,2,3,4,5]" ng-class="{parent: true}"
           ng-click="game.pitClicked(1,pitIndex)">
  					  <div ng-class ="{score: true}">
                {{game.currentCount = game.giveCounts(1,pitIndex)}}
  						</div>
  						<div ng-class="{pit: true}">
                <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyPit: true}">
  							    <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassPit: true}" ng-style="{{game.getPosition(x,0)}}">
                </div>
  		        </div>
          </div>
  			</div>

       

      </div>


 	<div class = "parent">
    				<div class ="score">
    				  {{game.currentCount = game.giveCounts(1,6)}}
    				</div>
    				<div class="player-one store">
              <div ng-repeat="x in game.makeArray(game.currentCount)" ng-class="{candyStore: true}">
                  <img src = "imgs/exp6.png" alt ="candy" ng-class = "{imgClassStore: true}" ng-style="{{game.getPosition(x,1)}}" >
              </div>

    			</div>
    		</div>
  		
  	

   

      </div>
</div>
</body>
</html>
